* {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}
body{
    background: url("http://www.fiveyardslant.com/wp-content/uploads/2018/05/online-sports-betting.jpg")
}
.clear{
    clear: both;
}
.content{
    width: 1300px;
    margin: 30px auto;
}
.logo{
    padding: 15px 25px;
    background: #2A7394;
    float: left;
    height: 40px;;
}
.logo img{
    height: 40px;
    width: 150px;
}
.menu{
    background: #fff;
    height: 40px;
    float: left;
    line-height: 40px;
    padding: 15px 10px;
    margin-left: 100px;
    position: relative;
}
.menu ul li{
    float: left;
    margin-left: 15px;
}
.menu ul li a{
    font-size: 18px;
    color: #000;
}
.menu ul li a:hover{
    color: orange;
    transition: 500ms;
}
.search{
    height: 70px;
    float: left;
    padding: 0px 5px;
    right: 180px;
    position: relative;
}
.search i{
    font-size: 25px;
    color: #aaa;
    line-height: 70px;
    cursor: pointer;
    left: 200px;
    z-index: 999;
    margin-right: 100px;
    position: absolute;
}
.s-input{
    display: none;
    position: absolute;
    margin-left: 205px;
    margin-top: 17px;
    z-index: 998;
}
.s-input input{
    width: 250px;
    background: #F6F4F4;
    padding: 10px 50px;
    font-size: 14px;
    font-weight: normal;
    color: #000;
    border: none;
}
.user{
    background: #fff;
    height: 70px;
}
.login{
    position: relative;
    line-height: 40px;
    font-size: 18px;
    padding: 15px 25px;
    float: right;
}
.login i{
    margin-right: 5px;
    font-size: 20px;
}
.login label{
    color: #000;
}
.l-l{
    margin-top: 30px;
    display: none;
    background: #fff;
    width: 240px;
    position: absolute;
    left: 0px;
}
.l-l input{
    padding:5px 5px;
    width: 170px;
    border:1px solid rgba(0,0,0,.1);
    margin-left: 30px;
}
.l-1 i{
    position: relative;
    right: 210px;
    font-size: 17px;
}
.l-l button{
    padding: 5px 5px;
    width: 190px;
    margin-bottom: 10px;
    background: #2A7394;
    border: none;
    color: #fff;
    margin-left: 25px;
}
.register {
    line-height: 40px;
    padding: 15px 25px;
    float: right;
    background: #2A7394;
    color: #fff;
}
.register i{
    font-size: 20px;
    margin-right: 5px;
}
.register a{
    color: #fff;
    font-size: 18px;
}
.cate{
    float: left;
}
.title{
    background: #2A7394;
    width: 180px;
    margin-top: 10px;
    padding: 10px 10px;
    text-align: center;
    font-size: 20px;
    color: #fff;
}

.main-cat{
    background: #2A7394;
    margin-top: 10px;
    float: left;
    width: 200px;
    font-size: 15px;
}
.main-cat label{
    cursor: pointer;
    color: #fff;
    margin-left: 10px;
}
.alt-cat{
    display: none;
}
.alt-cat{
    display: none;
}
.alt-cat ul li{
    padding: 5px 5px;
    color: 14px;
    font-weight: normal;
    color: #000;
    background: #F6F4F4;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
}
.alt-cat ul li a{
    color: #000;
}
.alt-cat ul li i{
    margin-left: 5px;
    font-size: 13px;
    color: #000;
    margin-right: 5px;
}
.alt-cat ul li div{
    display: inline-block;
    float: right;
    background: #0F2834;
    color: #fff;
    position: relative;
    bottom: 2px;
    padding: 2px 3px;
}
.alt-cat1{
    display: none;
}
.alt-cat1 ul li{
    padding: 5px 5px;
    color: 14px;
    font-weight: normal;
    color: #000;
    background: #F6F4F4;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
}
.alt-cat1 ul li a{
    color: #000;
}
.alt-cat1 ul li i{
    margin-left: 5px;
    font-size: 13px;
    color: #000;
    margin-right: 5px;
}
.alt-cat1 ul li div{
    display: inline-block;
    float: right;
    background: #ccc;
    color: #000;
    position: relative;
    bottom: 2px;
    padding: 2px 3px;
}
.alt-cat2{
    display: none;
}
.alt-cat2 ul li{
    padding: 5px 5px;
    color: 14px;
    font-weight: normal;
    color: #000;
    background: #F6F4F4;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
}
.alt-cat2 ul li a{
    color: #000;
}
.alt-cat2 ul li i{
    margin-left: 5px;
    font-size: 13px;
    color: #000;
    margin-right: 5px;
}
.alt-cat2 ul li div{
    display: inline-block;
    float: right;
    background: #ccc;
    color: #000;
    position: relative;
    bottom: 2px;
    padding: 2px 3px;
}
.alt-cat3{
    display: none;
}
.alt-cat3 ul li{
    padding: 5px 5px;
    color: 14px;
    font-weight: normal;
    color: #000;
    background: #F6F4F4;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
}
.alt-cat3 ul li a{
    color: #000;
}
.alt-cat3 ul li i{
    margin-left: 5px;
    font-size: 13px;
    color: #000;
    margin-right: 5px;
}
.alt-cat3 ul li div{
    display: inline-block;
    float: right;
    background: #ccc;
    color: #000;
    position: relative;
    bottom: 2px;
    padding: 2px 3px;
}
.alt-cat4{
    display: none;
}
.alt-cat4 ul li{
    padding: 5px 5px;
    color: 14px;
    font-weight: normal;
    color: #000;
    background: #F6F4F4;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
}
.alt-cat4 ul li a{
    color: #000;
}
.alt-cat4 ul li i{
    margin-left: 5px;
    font-size: 13px;
    color: #000;
    margin-right: 5px;
}
.alt-cat4 ul li div{
    display: inline-block;
    float: right;
    background: #ccc;
    color: #000;
    position: relative;
    bottom: 2px;
    padding: 2px 3px;
}
.main-cat span{
    margin-left: 3px;
    color: #fff;
}
.main-cat >ul >li{
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    padding: 10px 0px;
    cursor: pointer;
}
.main-cat >ul >li:last-child{
    border-bottom: none;
}
.main-cat >ul >li div{
    float: right;
    height: 20px;
    width: 30px;
    padding: 1px 5px;
    background:#0F2834;
    position: relative;
    bottom: 2px;
    color: #fff;
    text-align: center;
    right: 5px;
}

.main-cat ul li:hover span{
    color:orange;
    transition: 500ms;
}
.main-cat ul li:hover label{
    color:orange;
    transition: 500ms;
}
.title-a{
    background: #2A7394;
    width: 180px;
    padding: 10px 10px;
    text-align: center;
    font-size: 20px;
    font-weight: normal;
    color: #fff;
}
.c-lea{
    margin-top: 10px;
    width: 200px;
    background: #fff;
}
.c-lea div{
    text-align: center;
    padding: 5px 5px;
    font-size: 18px;
}
.c-lea ul li{
    padding: 10px 10px;
    font-size: 14px;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
}
.c-lea ul li:nth-child(2n+1){
    background: #F6F4F4
}
.c-lea ul li:first-child{
    border-top: 1px solid rgba(0, 0, 0, .1);
}
.c-lea ul li:last-child{
    background: #fff;
    border: none;
}
.c-lea ul li div{
    float: right;
    font-size: 12px;
    border: 1px solid rgba(0, 0, 0, .2);
    position: relative;
    bottom: 5px;
    background: #fff;
}
.c-lea ul li label{
    display: block;
    text-align: center;
}
.c-lea ul li a{
    color: #000;
}

.ista{
    width: 200px;
    margin-top: 10px;
    background: #fff;
}
.title-b{
    background: #2A7394;
    width: 190px;
    padding: 5px;   
    text-align: center;
    font-size: 20px;
    font-weight: normal;
    color: #fff;
}
.ista ul li{
    padding: 10px 10px;
    text-align: left;
}
.ista ul li:nth-child(2n+1){
    background: #F6F4F4
}
.ista ul li a{
    font-size: 14px;
    color: #000;
}
.ista ul li:hover a{
    color: orange;
    transition: 500ms;
}
.footer{
    margin-top: 100px;
    background: #fff;
    padding: 10px 10px;
    height: 100px;
}

.live{
    background: #fff;
    margin-top: 10px;
    margin-left: 10px;
    float: left;
    width: 830px;
}
.nth:nth-child(2n+1){
    background: #F6F4F4;
}
.live-info{
    border-bottom: 1px solid rgba(0, 0, 0, .2);
}
.live-h{
    border-bottom: 5px solid orange;
    
}
.live-h span{
    display: block;
    float: left;
    font-size: 18px;
    color: orange;
    padding: 10px 0px;
    margin-right: 193px;
    
}
.live-h span i{
    font-size: 20px;
    color: orange;
    margin-left: 5px;
}
.live-h ul li {
    float: right;
    padding: 10px 10px;
    border:1px solid rgba(0, 0, 0, .1);
    cursor: pointer;
}
.live-h ul li:last-child{
    border-right: none;
}
.h3{
    display: block;
    margin-left: 5px;
    float: left;
    padding: 5px 0px;
    margin-right: 420px;
}
.live-info{
    padding: 5px 0px;
}
.live-info ul li{
    float: left;
    color: #ccc;
    padding: 0px 20px;
}
.live-info span{
    float: left;
    margin-left: 10px; 
}
.live-info ul li:first-child{
    margin-left: 470px;
}
.live-info ul li:nth-child(4n){
    margin-left: 10px;
}

.live-main{
    padding: 10px 0px;
}
.live-main ul li{
    float: left;
    font-size: 14px;
    padding: 0px 9px;
    border: 1px solid rgba(0, 0, 0, .2);
    margin-left: 5px;
}
.live-main ul li:first-child{
    margin-left: 25px;
}
.live-main ul li:nth-child(4n){
    border: none;
}
.skor{
    font-size: 14px;
    display: block;
    float: left;
    font-weight: bold;
}
.teams{
    font-size: 14px;
    padding: 0px 5px;
    display: block;
    padding: 0px 10px;
    float: left;
    width: 100px;
    text-align:right;
}
.teams2{
    font-size: 14px;
    padding: 0px 5px;
    display: block;
    padding: 0px 10px;
    float: left;
    margin-right: 90px;
}
.saat{
    display: block;
    font-size: 14px;
    margin-left: 5px;
    margin-right: 100px;
    float: left;
}

.con-3{
    float: right;
}
.oneri{
    margin-left: 10px;
    margin-top: 10px;
    width: 250px;
    background: #fff;
}
.oneri h1{
    background: #2A7394;
    font-size: 20px;
    color: #fff;
    padding: 5px 5px;
    text-align: center;
    font-weight: normal;
}
.oneri ul li{
    padding: 10px 5px;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    margin-left: 5px;
}
.oneri ul li:last-child{
    border-bottom: none;
}
.oneri ul li a{
    color: #000;
}
.oneri ul li:hover a{
    color: orange;
    transition: 500ms;
}
.oneri ul li:hover span{
    color: orange;
    transition: 500ms;
}
.oneri ul li i{
    margin-right: 5px;
}
.oneri ul li button{
    padding: 10px 20px;
    border: none;
    margin-left: 40px;
    outline: none;
    background: #2A7394;
    color: #fff;
    text-align: center;
    cursor: pointer;
}
.oneri ul li span{
    float: right;
    color: #000;
    padding-right: 5px;
}
.oneri2{
    margin-left: 10px;
    margin-top: 10px;
    width: 250px;
    background: #fff;
    margin-bottom: 10px;
}

.oneri2 h1{
    background: #2A7394;
    font-size: 20px;
    color: #fff;
    padding: 5px 5px;
    text-align: center;
    font-weight: normal;
}
.oneri2 button{
    padding: 5px 5px;
    margin-top: 10px;
    margin-left: 20px;
    background: transparent;
    border: 1px solid rgba(0, 0, 0, .2);
    cursor: pointer;
    color: #000;
}
.oneri2 button:hover{
    color: orange;
    transition: 500ms;
}
.oneri2 pre{
    padding: 5px 5px;
    font-size: 14px;
    margin-top: 10px;
    text-align: center
}

.live2{
    float: left;
    background: #fff;
    margin-top: 10px;
    margin-left: 10px;
    width: 830px;
}
.info{
    border-bottom: 5px solid #2A7394;
}
.info h1{
    padding: 5px 5px;
    font-size: 20px;
    font-weight: normal;
    color: #2A7394;
    float: left;
}
.info ul li{
    float: left;
    height: 21px;
    padding: 5px 5px;
    border: 1px solid rgba(0, 0, 0, .1);
}
.info ul li:first-child{
    margin-left: 560px;
}
.info ul li:nth-child(3n){
    border-right: none;
}
.info2 span{
    padding: 5px 5px;
    display: block;
    float: left;
}
.info2 ul li{
    float: left;
    padding: 5px 20px;
}
.info2 ul li:first-child{
    margin-left: 415px;
}
.info2{
    border-bottom: 1px solid rgba(0, 0, 0, .2);
}

.live-main2{
    padding: 10px 0px;
}
.live-main2 >ul >li{
    float: left;
    font-size: 14px;
    padding: 0px 9px;
    border: 1px solid rgba(0, 0, 0, .2);
    margin-left: 5px;
}
.live-main2 >ul >li:first-child{
    margin-left: 50px;
}
.live-main2 >ul >li:nth-child(8n-4){
    border: none;
    background: #333;
    height: 20px;
    width: 15px;
}
.live-main2 >ul >li:nth-child(8n){
    border: none;
}
.live-main2 >ul >li:nth-child(5n){
    border: none;
    background: #333;
    height: 20px;
    width: 15px;
}
.live-main2 >ul >li:nth-child(6n){
    border: none;
    background: #ccc;
    opacity: 0.8;
}
.live-main2 >ul >li:nth-child(7n){
    border: none;
    background: #ccc;
    opacity: 0.8;
}
.live-main2 ul li img{
    padding: 3px 0px;
}

.rate {
    border-top: 1px solid rgba(0, 0, 0, .2);
    display: none;
}
.rate >h1{
    background: #DEE9ED;
    color: #000;
    padding: 5px 5px;
    font-size: 20px;

}
.alt-cat9{
    display: none;
}
.sub-title{
    display: block;
    float: left;
    height: 20px;
    font-size: 14px;
    line-height: 20px;
    width: 200px;
    padding: 5px 5px;
    margin-left: 5px ;
    margin-top: 7px;
}
.rate >ul >li div ul li{
    float:  left;
    margin-left: 10px;
    padding: 5px 5px;
    font-size: 14px;
    margin-top: 7px;
    border-left: 1px solid rgba(0, 0, 0, .2);
}
.rate >ul >li:nth-child(2n){
    background:#fff;
}
.rate >ul >li div ul li span{
    border: 1px solid rgba(0, 0, 0, .2);
    padding: 2px 5px;
    margin-left: 5px;
}
.rate >ul >li div ul li:first-child{
    margin-left: 190px;
}

/* Canli Sayfasi */

.cs{
    margin-top: 10px;
    background: #fff;
    width: 1035px;
}
.left{
    float: left;
}
.sh{
    border-bottom: 5px solid #2A7394;
    padding: 5px 5px;
    height: 30px;
}
.sh span{
    display: block;
    float: left;
    font-size: 22px;
    color: #2A7394;
    font-weight: bold;
}
.sh span img{
    float: left;
    margin-right: 5px;
    width: 30px;
    height: 30px;
}
.sh >ul >li{
    float: left;
    line-height: 30px;
    padding: 0px 20px;
    margin-left: 40px;
}
.sh ul li:first-child{
    margin-left: 280px;
}
.sh ul li:nth-child(3n){
    margin-left: 60px;
}
.sh-2 {
    padding: 5px 5px;
    height: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
}
.sh-2 span{
    display: block;
    float: left;
    font-size: 18px;
    color: #2A7394;
    font-weight: bold;
}
.sh-2 span img{
    float: left;
    margin-right: 5px;
   width: 20px;
   height: 20px;
}
.sh-2 ul li{
    float: left;
    line-height: 20px;
    padding: 0px 20px;
}

.sh-31 >ul >li{
    float: left;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    width: 1035px;
}
.sh-31 >ul >li:nth-child(2n-1){
    background: #F6F4F4;
}
.sh-3{
    padding: 5px 0px;
    height: 30px;
}
.sh-3 label{
    padding: 5px 5px;
    border-left: 3px solid red;
    background: orange;
    color: #fff;
    text-align: center;
    float: left;
}
.sh-3 span{
    width: 230px;
    text-align: center;
    display: block;
    float: left;
    margin-left: 5px;
    font-size: 15x;
    line-height: 30px;
}
.sh-3 >ul >li{
    float: left;
    line-height: 30px;
    padding: 0px 10px;
    margin-left: 5px;
    font-size: 14px;
    border: 1px solid rgba(0, 0, 0, .2);
}
.sh-3 >ul >li:first-child{
    margin-left: 50px;
}
.sh-3 >ul >li:nth-child(10n){
    border: none;
}
.sh-3 >ul >li:nth-child(13n){
    border-right: none;
    border-left: 1px solid rgba(0, 0, 0, .1);
    border-top: none;
    border-bottom: none;
    cursor: pointer;
}

.ul-1 ul li:first-child{
    margin-left: 250px;
}
.ul-2 ul li:first-child{
    margin-left: 15px;
}
.ul-2 ul li:nth-child(2n){
    margin-left: 5px;
}

.ul-3 ul li:first-child{
    margin-left: 10px;
}
.ul-4 ul li:first-child{
    margin-left: 70px;
}

.alt-h1{
    background: #F6F4F4;
}

.live-r{
    padding: 5px 5px;
    background: #2A7394;
    color: #fff;
}

